footer {
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;

    .footer-nav {
        padding: 20px 0 0 0;

        &_links {
            height: 39px;
            line-height: 39px;

            a {
                margin-left: 30px;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
    .footer-logo {
        padding: 10px 0 30px 0;

        img {
            max-width: 100%;
        }

        .footer-copyright {
            margin-top: 0px;
            font-size: 16px;
            line-height: 29px;
            height: 30px;
        }
    }

    /* small screen landscape */
    @media (max-width: 768px) {

        .footer-nav {

            &_links {
                line-height: 39px;
                height: auto;

                &.text-right {
                    text-align: left;
                }

                a {
                    margin-left: 0px;
                    margin-right: 30px;
                }

            }
        }

        .footer-logo {

            .footer-copyright {
                font-size: 14px;
                line-height: 25px;
            }

        }
    }
}
