.home-page {
    .jumbotron {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 70px;

        @include for(sm) {
            margin-bottom: 35px;
        }

        h1 {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 25px;

            @include for(xs) {
                margin-bottom: 12.5px;
            }
        }

        .buttons {
            margin-bottom: 0;

            a {
                margin-top: 50px;
                display: inline-block;

                @include for(xs) {
                    margin-top: 25px;
                }

                &:last-child {
                    margin-left: 20px;

                    @include for(xs) {
                        margin-left: 0;
                    }
                }

                &.btn-link {
                    text-decoration: underline;
                    font-weight: 300;
                }
            }
        }
    }

    .quicklinks, .feature {
        h2 {
            margin-bottom: 30px;
        }

        a {
            text-decoration: underline;
        }
    }

    .quicklinks {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;

                a {
                    display: block;
                }
            }

            li + li {

                a {
                    padding-top: 1em;
                }
            }
        }
    }

    .push-down {
        margin-top: 70px;

        @include for(sm) {
            margin-top: 35px;
        }
    }
}
