.main-nav {

    .navbar {
        min-height: 0;
        border: 0;
        border-bottom: 1px solid $navbar-default-border;

        @media (min-width: 768px) {
            background-color: #fff;
        }
    }

    nav {
        .navbar-form {
            margin-bottom: 0;
            margin-top: 0;
        }

        ul.nav {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .dropdown-touch__item {
        position: absolute;
        top: 3px;
        right: 0;
        padding: 7px 18px;
    }

}
