.main-nav {
    &, .navbar-collapse {
        width: 100%;
        overflow: hidden;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav__item a {
        // padding: 20px 25px;
        color: #333 !important;
    }

    .current {
        box-shadow: inset 0px 5px 14px 1px #ddd;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .navbar-default {
        background-color: transparent;
        border: none;
        min-height: auto;
    }
}

.search {
    padding: 10px 15px;
}
