.news-events_archive .nav a {
    padding: 3px 7px;
    font-size: 12px;
}
.news-events_archive-year {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    margin-right: 5px;
}
.news-events_item-figure {
    margin-left: 18px;
    margin-top: 24px;
    margin-bottom: 18px;
}

.news-events_tags,
.news-events_date-range,
.news-events_archive {
    margin-bottom: 40px;
}

.news-details-aside {
    margin-top: 37px;
}