.news-events_archive {

    h5 {
        display: inline-block;
        margin-top: 3px;
        vertical-align: top;
        margin-right: 5px;
    }

    .nav a {
        padding: 3px 7px;
        font-size: 12px;
    }
}

.news_item-figure {
    margin-left: 18px;
    margin-top: 24px;
    margin-bottom: 18px;
}

.news_tags,
.news-events_date-range,
.news_archive {
    margin-bottom: 40px;
}
