// NewsDetail
.news-details-aside {
    margin-top: 37px;
}

// Page utilities
.page-utilities {
    margin-top: 40px;
}

.page-utilities_last-modified {
    font-size: $font-size-small;
    color: $text-muted;
    margin-top: 10px;

    @media (min-width: 768px) {
        float: right;
        text-align: right;
        margin-top: 0;
    }
}

.dropdown-toggle:focus,
.dropdown-touch__item:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

a.fa,
a.fa:hover,
i.fa,
i.fa:hover {
    text-decoration: none;
}
