/*  Sitemap formatting */
.sitemap {
  border-bottom: 1px solid $table-border-color;
  list-style-type: none;
  margin: 40px 0;
  padding-left: 0;

  ul {
    list-style-type: none;
    padding-bottom: $padding-large-vertical;

    .sitemap-link,
    .page-toggle {
      padding-bottom: $padding-large-vertical;
      padding-top: $padding-large-vertical;
    }
  }

  li {
    margin-bottom: 0;
  }
}

.sitemap .initial {
  border-top: 1px solid $table-border-color;
  z-index: 0;
  position: relative;

  &:hover {
    background-color: $table-bg-hover;
  }

  .sitemap-link {
    padding: 20px 0;
    z-index: 1;
    display: block;
    margin-left: 40px;
  }
}

.sitemap .page-toggle {
  padding: 20px 15px;
  display: inline-block;
  float: left;
}
