.skip-links {
    a {
        height: 1px;
    	padding: 5px 10px;
        position: absolute;
        left: -100%;
        overflow: hidden;
        top: -100%;
        width: 1px;

        &:focus, &:active {
        	display: inline-block;
            height: auto;
            left: 0;
            margin-bottom: 20px;
            overflow: visible;
            position: static;
            top: 0;
            width: auto;
        }
    }
}
