// Content block styles

//-- Banner block
.banner-element {
  align-items: center;
  display: flex;
  position: relative;
}

// Override defaults from .jumbotron, shift them to content instead
.container .banner-element.jumbotron {
  padding: 0;
  margin: $line-height-computed 0;
}

.banner-element__image {
  display: flex;
  flex-grow: 1;
  max-height: 450px;
  opacity: .55;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.banner-element__content {
  // Add jumbotron padding back here
  padding: $jumbotron-padding ($jumbotron-padding * 2);
  position: absolute;
  text-shadow: $carousel-text-shadow;
}

.banner-element__title {
  color: $jumbotron-color;
}

//-- File block
.file-element__file {
  margin-bottom: $line-height-computed * 2;
}
