.tagcloud.list-inline > li {
  &:not(:first-child) {
    padding-left: 0;
  }

  padding-right: 0;
}

.entry-tags,
.entry-categories {
  margin-bottom: $padding-small-vertical;

  .label {
    margin-right: $padding-small-vertical;
  }
}

.blog-entry-tags {
  margin-top: $line-height-computed;
}

.blog-post-meta {
  @extend .meta-info;
}

.blog-post-heading {
  margin: 0;
}

.blog-summary-img {
  padding-top: $line-height-computed;
  margin-left: $line-height-computed;
}

.blog_item-figure {
  margin-top: $line-height-computed * 1.2; //24px
  margin-left: $line-height-computed * 0.8; //18px
}

.WidgetHolder  {
  background-color: $gray-lighter;
  padding: $line-height-computed * 0.5 $line-height-computed;
  margin-bottom: $line-height-computed;
  border-radius: $border-radius-base;
}
