// Main navigation
.main-nav {
  .navbar {
    min-height: 0;
    border: 0;
    border-bottom: 1px solid $navbar-light-toggler-border-color;
    padding-bottom: 0;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      .container {
        max-width: none;
      }
    }

    .dropdown-menu {
      margin-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    @include media-breakpoint-down(md)  {

      padding-left: 0;
      padding-right: 0;

      .dropdown {
        padding-right: 0;
      }

      .dropdown-menu {
        border: 0;
      }

    }
  }

  .navbar-nav {

    @include media-breakpoint-down(sm) {
      margin: 7.5px -15px;
    }

    .nav-link {
      padding: 10px 15px;
      position: relative;
      display: block;
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    > .current > a {
      &,
      &:hover,
      &:focus {
        background-color: $gray-300;
      }
    }
  }

  .dropdown {
    padding-right: 18px;

    a {
      text-decoration: none;
    }

    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $gray-200;

        &:hover,
        &:focus {
          background-color: $gray-300;
        }
      }
    }

    .dropdown-item.active a {
      color: $dropdown-link-active-color;
    }

    &.open {
      >.dropdown-menu {
        display: block;
      }
    }

    .dropdown-item a {
      color: $navbar-light-color;

      @include media-breakpoint-down(md) {
        padding: $navbar-padding-y $navbar-padding-x;
      }
    }
  }

  .btn-link {
    color: $navbar-light-color;
  }
}

.navbar-touch-caret {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 1rem 1.6rem 1rem 8px;
  border-radius: 0;
  background: $dropdown-caret-bg;
}

.navbar-form {
  margin-bottom: 0;
}

// Btn mobile toggle
.navbar-toggler {
  margin-top: 0;

  &:focus {
    @include outline-focus;
  }

  .icon-bar {
    background: #888;
  }
}

.navbar-collapse {
  border-top: 0;
}


.navbar {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
