// Main navigation
.main-nav {
  .navbar {
    min-height: 0;
    border: 0;
    border-bottom: 1px solid $navbar-light-toggler-border-color;
    padding-bottom: 0;
    margin-bottom: 20px;

    /*@media (max-width: $grid-float-breakpoint-max) {
      .dropdown:not(.active) {
        background: $navbar-default-link-hover-bg;
      }

      .dropdown {
        padding-right: 0;
      }
    }*/
  }

  .navbar-nav {
    .nav-link {
      padding-top: 15px;
      padding-bottom: 15px;
      padding: 10px 15px;
      position: relative;
      display: block;
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    > .current > a {
      &,
      &:hover,
      &:focus {
        background-color: $gray-200;
      }
    }
  }

  .dropdown {
    padding-right: 18px;

    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $gray-300;

        &:hover,
        &:focus {
          background-color: $gray-300;
        }
      }
    }
  }

  .btn-link {
    color: $navbar-light-color;
  }
}

.navbar-touch-caret {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: $navbar-padding-y $navbar-padding-x $navbar-padding-y 8px;
  background: $dropdown-caret-bg;
}

.navbar-form {
  margin-bottom: 0;
}

// Btn mobile toggle
.navbar-toggle {
  margin-top: 0;

  &:focus {
    @include outline-focus;
  }

  .icon-bar {
    background-color: $navbar-light-toggler-icon-bg;
  }
}

.navbar-collapse {
  border-top: 0;
}

/*@media (max-width: $grid-float-breakpoint-max) {
  .navbar-touch-caret {
    // Uses BS default mobile nav values which are not variables
    padding: 10px $navbar-padding-x 10px 8px;
  }
}*/
