@media only print {

    .site-header-brand-link-default:after,
    #header-language-toggle,
    .navbar-toggle,
    .main-nav,
    .breadcrumb,

    .page-utilities .list-inline,

    .news-events_date-range,
    .news-events_archive,
    .news_holder article h3 a:after,
    .news_tags .label:after,
    .related-pages__link:after,

    .search-results form,
    .search-results article h1 a:after,
    .pagination a:after {
        display: none;
    }

    .header-search,
    #ui-datepicker-div,
    .treedropdownfield-panel,
    footer {
        display: none !important;
    }

    .page-utilities_last-modified {
        float: left !important;
    }

    pre {
        white-space: pre-wrap;
    }
}
